.container {
  display: flex;
  flex-direction: row;
  min-height: 3rem;
}

.hour {
  border-right: 1px solid #C8C4C3;
  width: 4rem;
  margin: 0;
  text-align: center;
}

.appointment-list {
  flex-grow: 1;
  border-top: 0.5px solid #C8C4C3;
}

