:host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 8px 16px 16px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    padding: .4rem;
  }

  .form-field {
    margin-top: .4rem;
  }

