.appointment {
  border: solid 1px rgb(3, 155, 229);
  cursor: move;
  margin: 0.2rem;
  padding: 0.1rem;
  border-radius: 0.2rem;
}

.appointment p {
  margin: 0;
  color: rgb(3, 155, 229);
  font-size: 0.7rem;
}
